.top-bar{
  width: 100%;
  background-color: white;
  margin-bottom: 0;
}


body {
  background: : #74ebd5;
  background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  margin: 0;
  padding: 0;
}

a{
  text-decoration: underline;
}

.container{
  display: inline-block;
  justify-content:center;
  padding: 50px;
  width: 100%;
}

.description{
  float:left;
  margin-left: 10%;
  margin-top: 15%;
  position: relative;

}

#title-image{
    float: right;
    position: relative;
    margin-right: 10%;
    margin-top: 15%;
}

#page-title {
  position: relative;
  color: white;
  font-family: 'ubuntu';
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 20%;
  width: 100%;
  margin-top: -50px;/*half of height*/
  margin-left: -100px;/*half of width*/
}

#page-title .container {
  min-height: 350px;
  display: table;
}
