/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.table-fixed tbody {
    height: 300px;
}

.top-bar{
  width: 100%;
  background-color: white;
  margin-bottom: 0;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    position: relative;
    content: '';
    clear: both;
    display: block;

}

.table-fixed tbody{
    justify-content: center;
    clear: both;
}

.table-container{
  display: block;
  margin-top: 2%;

  position: absolute;               /* 2 */
  left: 50%;                         /* 3 */
  transform: translate(-50%,0);

  clear: both;
  background-color: rgb(240,240,240);

  align-items: center;
  justify-content: center;
  padding: 20px;

}


body{
  background: : #74ebd5;
  background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  min-height: 100vh;
}

a{
  text-decoration: underline;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
