/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
    }
}

.table-container{
  align-items: center;
  display: flex;
  padding: 40px;
  margin-left: 45%;


  background-color: : #74ebd5;
  background-color: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
  background-color: linear-gradient(to right, #74ebd5, #ACB6E5);
  min-height: 100vh;

}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
