
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<title>INF1629 Grupo 3</title>
<div class="top-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://fast-wave-07661.herokuapp.com/app">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://fast-wave-07661.herokuapp.com/app/upload">Upload</a>
        </li>
    </div>
    <div id="title-image">
      <img src="{% static 'img/puc_logo.jpg' %}">
    </div>
</div>
<body>
<div class="container">
  <div class="description">
    <h2>Grupo 3</h2>
    <br>
    <h3>Integrantes:</h3>
    <br><h5><a href="https://github.com/DDFaller">Daniel Faller</a></h5>
    <br><h5><a href="https://github.com/eduardomaksoud">Eduardo Maksoud</a></h5>
    <br><h5><a href="https://github.com/OLMS99">Olavo Lucas</a></h5>
    <br><h5><a href="https://github.com/SaintLeonar">Leonardo Santos</a></h5>
    <br><h5><a href="https://github.com/matheusbg">Matheus Basilio</a></h5>
  </div>
</div>
</body>
