
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<title>INF1629 Grupo 3</title>
<div class="top-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://fast-wave-07661.herokuapp.com/app">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://fast-wave-07661.herokuapp.com/app/upload">Upload</a>
        </li>
    </div>
</div>
<body>
  <header id="page-title" class="jumbotron background">
    <div id="title-image" class="bg">
      <img src="{% static 'img/puc_logo' %}">
    </div>
    <div class="container" id="description">
      <h1>Grupo 3</h1>
      <br>
      <h2>Integrantes do grupo:</h2>
      <br><h4>Daniel Faller</h4>
      <br><h4>Eduardo Maksoud</h4>
      <br><h4>Olavo Lucas</h4>
      <br><h4>Leonardo Santos</h4>
      <br><h4>Matheus Basilio</h4>


    </div>
  </header>
</body>
