
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<title>INF1629 Grupo 3</title>
<div class="top-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://fast-wave-07661.herokuapp.com/app/upload">Upload<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://fast-wave-07661.herokuapp.com/app/about">About</a>
        </li>
    </div>
</div>


<div class="jumbotron jumbotron-fluid" id="container">
  <div>
    <h1 class="display-4">INF1629 - Trabalho 2</h1>
    <p class="lead">Grupo 3</p>
  </div>
</div>

<div class="bottom-bar">
  <h1>Trabalho da disciplina de Princípios de Engenharia de Software</h1>
  <p>Desenvolvido durante o período de 2020.2 sobre supervisão do professor Júlio Cesar</p>
  <p>A proposta consistia de refatorar um código baseado em qualquer estido dentro do <a href="https://github.com/crista/exercises-in-programming-style">github da professora Cristina Lopes</a>
  , utilizamos o primeiro, good-old-times, e o desenvolvemos para se tornar um serviço web.
  </p>
  <p>
  <h2>Ferramentas utilizadas:</h2>
  <br>
  <ul>
    <li><a href="https://trello.com/b/TZC6WQmV/term-frequency">Trello</a></li>
    <li><a href="https://github.com/DDFaller/INF1629_Trab2">Github</a></li>
  </ul>
  </p>
</div>
