{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<div id="uploaded">
    <table class ="table table-hover">
      <thead>
        <tr>
          <th scope="col">Palavra</th>
          <th scope="col">Ocorrências</th>
        </tr>
      </thead>
      <tbody>
        {% for k,v in worddict.items %}
          <tr>
            <th scope="row">
              {{k}}
            </th>
            <th scope="row">
              {{v}}
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
