
{% block content %}
<div id="uploaded">
    <span class="error">File uploaded</span>
    <table class ="table">
      <thead>
        <tr>
          <th scope="col">Palavra</th>
          <th scope="col">Ocorrências</th>
        </tr>
      </thead>
      <tbody>
        {% for k,v in worddict.items %}
          <tr>
            <th scope="row">
              {{k}}
            </th>
            <th scope="row">
              {{v}}
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
